.request-dump
{
    border: 1px solid black;
    background: #eeeeff;
}

#gameState
{
    display: block;
    width: 100%
}

#joined-players .self 
{
    font-weight: bold;
}

#joined-players .other
{
    font-style: italic;
}

#playing-ui, #setup-ui
{
    display: none;
}

#ma-board
{
    background-image: url('/images/ma-board.png');
    background-repeat: no-repeat;
    width: 800px;
    height: 510px;
    border: solid 2px black;
}

#academy-board
{
    background-image: url('/images/academy-board.png');
    background-repeat: no-repeat;
    width: 800px;
    height: 1010px;
    border: solid 2px black;
}

.player
{
    /* Might need this again if I figure out why background-image isn't
       working for the game pieces. I went with img tags instead. */
    /* background-repeat: no-repeat; */
    width: 32px;
    height: 32px;
}
