.request-dump
{
    border: 1px solid black;
    background: #eeeeff;
}

#gameState
{
    display: block;
    width: 100%
}

#joined-players .self 
{
    font-weight: bold;
}

#joined-players .other
{
    font-style: italic;
}

#playing-ui, #setup-ui
{
    display: none;
}