ol {
    list-style-type: none;
}
li {
    display: inline;
}
a {
    border: 1px solid blue;
    height: 100px;
    text-decoration: none;
    width: 100px;
}
div.professor-action > h2 {
    display: inline-block;
    font-size: 21px;
    width: 85px;
}
body {
    width: 480px;
    border:  1px solid red;
    height: 960px;
    font-size: 140%;
}